.container {
    display: flex;
}

.text {
    text-align: left;
    flex: 0 0 50%;
    padding-right: 100px;
}

.img {
    flex: 0 0 auto;
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
}

@media (max-width: 768px) {
    .img {
        width: 100px;
        height: 100px;
    }

    .text {
        text-align: center;
        padding-right: 0;
        width: 80%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}