@import '../../index.scss';

.project {
    background-color: $alternativeBackground;
    width: 500px;
    height: 500px;
    margin: 1em;
    border-radius: 25px;
}

.projectContainer {
    transition: all .5s ease-in-out; 
}

.projectContainer:hover {
    cursor: pointer;
    transform: scale(1.05)
}

img{
    border-radius: 25px;
}

.textContainer {
    text-align: left;
    padding-left: 10px;
}

br {
    display: block;
    margin: 1px 0;
 }

 .title {
    padding-top: 30px;
    padding-left: 25px;
    font-size: x-large;
    font-weight: bold;
 }

 .text {
    font-size: medium;
    padding-left: 25px;
    padding-bottom: 20px;
 }