@import '../../index.scss';

.heading {
    font-size: xxx-large;
}

.subHeading {
    font-size: medium;
}

.img {
    object-fit: cover;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    cursor: pointer;
}

.banner {
    margin-top: 5em;
    background-color: $alternativeBackground;
    border: 5px solid $alternativeBackground;
}

.logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto !important; 
    height: 150px;
}

.imgContainer {
    position: relative;
}

.label {
    position: absolute;
    font-size: small;
    top: 50px;
}

@media (max-width: 768px) {
    .heading {
        font-size: x-large;
    }
}