@import '../../index.scss';

.heading {
    font-size: xxx-large;
}

.subHeading {
    font-size: xx-large;
    margin-top: 1em;
    margin-bottom: 1em;
}

.subSubHeading {
    font-size: large;
    margin-top: 1em;
    margin-bottom: 1em;
}

.img {
    object-fit: cover;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    cursor: pointer;
}

.banner {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: $alternativeBackground;
    border: 5px solid $alternativeBackground;
}

.logoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto !important;
    height: 150px;
}

.imgContainer {
    position: relative;
}

.label {
    position: absolute;
    font-size: small;
    top: 50px;
}

.skillsContainer {
    display: grid;
    grid-auto-flow: column;
    margin-left: 2em;
    margin-right: 2em;
}

@media (max-width: 768px) {
    .heading {
        font-size: x-large;
    }

    .subHeading {
        padding-top: 1em;
        width: 80%;
        margin: auto;
    }

    .skillsContainer {
        display: flex;
        flex-direction: column;
    }
}