.logo {
    animation-name: colorise;
    animation-duration: 0.5s;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(0);
}

@keyframes colorise {
    from {
        filter: grayscale(100);
        max-height: 90%;
        max-width: 90%;
    }

    to {
        filter: grayscale(0);
        max-height: 100%;
        max-width: 100%;
    }
}

.grayLogo {
    filter: grayscale(100);
    max-height: 90%;
    max-width: 90%;
}

.logoContainer {
    height: 100%;
    width: 250px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}