$primaryColor: #0E3B43;
$secondaryColor: #254E70;
$tertiaryColor: #F4E04D;
$backgroundColor: azure;
$alternativeBackground: #8AF3FF;
$fontColor: #121212;

:export {
    primaryColor: $primaryColor;
    secondaryColor: $secondaryColor;
    tertiaryColor: $tertiaryColor;
    backgroundColor: $backgroundColor;
    alternativeBackground: $alternativeBackground;
    fontColor: $fontColor;
}