@import '../../index.scss';

.contact {
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.7em;
    max-width: 50px;
    max-height: 50px;
    border: 2px solid $fontColor;
    border-radius: 100px;
    transition: all .35s ease-in-out; 
}

.icon {
    color: $fontColor;
    width: 50px;
    height: 50px;
}

.contact:hover {
    cursor: pointer;
    background-color: $tertiaryColor;
}

.image {
    width: 100%;
    height: 100%;
    // filters images to black and then to background color
    filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(4687%) hue-rotate(7deg) brightness(84%) contrast(86%);
}