@import '../../index.scss';

.navBar {
    height: 75px;
    border-bottom: 2px solid $primaryColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-left: 4em;
    color: $primaryColor;
    font-size:x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 60px;
    height: 60px;
    padding-right: 1em;
}

.navLinksContainer {
    display: flex;
    margin-right: 5em;
    height: 75px;
}
