@import '../../index.scss';

.navBarContainer {
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto !important;
    height: 75px;
}

.navBar {
    border-bottom: 2px solid $primaryColor;
    background-color: $alternativeBackground;
}

.title {
    margin-left: 4em;
    color: $primaryColor;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 60px;
    height: 60px;
    padding-right: 1em;
}

.linksGroup {
    display: flex;
    margin-right: 5em;
    height: 75px;
}

.navBarContainer .linksContainer .linksGroup{
    width: 450px;
}

.label {
    color: $primaryColor;
    position: relative;
    bottom: 10px;
}

.hamburger {
    display: none;
    width: 35px;
    height: 35px;
    color: $primaryColor;
    margin-left: auto;
}

.themeSwitch {
    margin-left: auto;
}

@media (max-width: 768px) {

    .title {
        font-size: large;
        margin-left: 1.5em;
    }

    .linksContainer {
        display: none;
    }

    .linksContainerExpanded .linksGroup {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 77px;
        right: -80px;
        height: 200px;
        width: 300px;
        background-color: $alternativeBackground;
        z-index: 1;
    }

    .hamburger {
        display: block;
        margin-right: 2em;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .navBar {
        border-bottom: 2px solid $primaryColor;
    }
}