@import '../../index.scss';

.projectsContainer {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: xx-large;
}

@media (max-width: 768px) {
    .title {
        font-size: large;
    }
}