:root {
  --primaryColor: ;
  --secondaryColor: ;
  --tertiaryColor: ;
  --backgroundColor: ;
  --alternativeBackground: ;
  --fontColor: ;
}

$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);
$tertiaryColor: var(--tertiaryColor);
$backgroundColor: var(--backgroundColor);
$alternativeBackground: var(--alternativeBackground);
$fontColor: var(--fontColor);


html {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // preventing design from being shifted when scroll bar appears.
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Lekton';
  background-color: $backgroundColor;
  color: $fontColor;
}

@font-face {
  font-family: 'Lekton';
  src: url('./fonts/Lekton-Regular.ttf');
}