:root {
  --primaryColor: ;
  --secondaryColor: ;
  --tertiaryColor: ;
  --backgroundColor: ;
  --alternativeBackground: ;
  --fontColor: ;
}

$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);
$tertiaryColor: var(--tertiaryColor);
$backgroundColor: var(--backgroundColor);
$alternativeBackground: var(--alternativeBackground);
$fontColor: var(--fontColor);


html {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Lekton';
  background-color: $backgroundColor;
  color: $fontColor;
}

@font-face {
  font-family: 'Lekton';
  src: url('./fonts/Lekton-Regular.ttf');
}

body.preload *{
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}