$backgroundColor: #121212;
$primaryColor: #31C48D;
$secondaryColor: #398378;
$tertiaryColor: #F4E04D;
$lightBackgroundColor: lighten($backgroundColor,10);

body {
  margin: 0;
  font-family: 'Lekton';
  background-color: $backgroundColor;
  color: azure;
}

@font-face {
  font-family: 'Lekton';
  src: url('./fonts/Lekton-Regular.ttf');
}