@import '../../index.scss';

.navLinkContainer{
    display: flex;
    width: 150px;
    height: 100%;
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: large;
    text-decoration: none;
    color: $primaryColor;
}

.navLink:hover {
    background-color: $lightBackgroundColor;
}


